* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-collapse: collapse;
}

section {
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	grid-template-areas: 	
	'box1 box2'
	'scroller scroller';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50vh 50vh;
}

.box1 {
	grid-area: box1;
}

.box2 {
	grid-area: box2;
}

.box {
	width: 80%;
	height: 80%;
	border: 1px solid grey;
	justify-self: center;
	align-self: center;
	display: grid;
	justify-content: center;
	align-items: center;
}

.box img {
	width: 100%;
}

.scroller {
	grid-area: scroller;
	margin: auto;
	height: 30vh;
	width: 50%;
	overflow: auto;
	border: 1px solid grey;
}

.main_table {
	width: 100%;
}

.main_table tr {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

td,
th {
	border: 1px solid grey;
	padding: 5px 10px;
	display: grid;
	justify-content: center;
}

.show {
	display: grid;
}

.hide {
	display: none;
}